# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
logs

# ROMs (never commit originals)
rom/
*.gb
*.gbc

# Build / Dist
/dist/

# Editors
.vscode/
*.swp

# CMake build artifacts
CMakeCache.txt
CMakeFiles/
